---
title: review sheet
description: 매일매일 교육 내용과 피드백받은 내용들을 정리해놓았습니다.
permalink: review sheet
visible: true
---

{% if site.data.ReviewSheet %}
<div class="hyde ReviewSheet row">
  {% for item in site.data.ReviewSheet reversed %} {% assign identifier = item.image | split: "." | first %}
  <div class="hyde ReviewSheet-item-wrapper col-lg-4 col-md-6 col-sm-12">
    <div class="hyde ReviewSheet-item">
      <a href="#{{ identifier }}">
        <div class="hyde thumbnail" style="background-image: url('/assets/images/ReviewSheet/{{ item.image }}');"></div>
        <div class="hyde ReviewSheet-overlay">
          <h3>{{ item.title }}</h3>
          <span>{{ item.description }}</span>
        </div>
      </a>
    </div>
  </div>
  <div id="{{ identifier }}" class="hyde lightbox" onclick="history.back()">
    <img src="/assets/images/ReviewSheet/{{ item.image }}" alt="{{ item.image | split: '.' | first }}" onclick="event.stopPropagation()" />
  </div>
  {% endfor %}
</div>
{% else %}
<div class="hyde empty">
  <img src="/assets/images/waldo.png" alt="not_found" />
  <p>게시물이 없습니다.</p>
</div>
{% endif %}
