<footer class="hyde footer-wrapper">
  <div class="hyde container">
    <div class="hyde footer">
      <div class="hyde footer-left">
        <ul class="hyde footer-menu links">
          {% assign pages = site.pages | sort:'url' %} {% for p in pages %} {% if p.visible == true %}
          <li>
            <a href="{{ p.url }}">{{ p.title }}</a>
          </li>
          {% endif %} {% endfor %}
        </ul>
        <p class="text">&copy; {{ site.time | date: '%Y' }} Jonghoinside</p>
      </div>
      <div class="hyde footer-right">
        <ul class="hyde footer-menu social">
          <li>
            <a href="https://github.com/{{ site.github }}"><i class="fab fa-github"></i></a>
          </li>
          <li>
            <a href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
        <p class="text">
          Made with <a href="https://github.com/jonghoinside"><i class="fas fa-meteor"></i> 
          Jonghoinside</a>
          <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fjonghoinside.github.io&count_bg=%235255D9&title_bg=%2326264B&icon=hey.svg&icon_color=%23FFFFFF&title=%EB%B0%A9%EB%AC%B8%ED%95%B4%EC%A3%BC%EC%85%94%EC%84%9C+%EA%B0%90%EC%82%AC%ED%95%A9%EB%8B%88%EB%8B%A4.&edge_flat=false"/></a>
        </p>
      </div>
    </div>
  </div>
</footer>
